<div class="container welcome-section">
    <div class="section-padding"></div>
    <div class="section-header">
        <h3>Start learning and having <span>FUN</span>!</h3>

    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="welcome-box">
                <img src="/images/memorygame.png" alt="math"/>
                <div class="welcome-title">
                    <h3><a title="Memory Game" href="/memorygame">Memory Game</a></h3>
                </div>
            </div>
        </div>
		 <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="welcome-box">
            <img src="/images/puzzle.png" alt="math"/>
            <div class="welcome-title">
                <h3>Puzzles</h3>
            </div>
        </div>
    </div>
    </div>

   


</div>