<div id="home">
  <div class="container">
    <div class="topheader-right">
					<a href="/login" title="Login"><i class="fa fa-sign-out" aria-hidden="true"></i>Login</a>
					<a href="/signup" title="Register">Register</a>
				</div>
    <div class="row">      
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>

        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="food-name">Full Name</label>
            <input type="text" id="food-name" class="form-control" aria-describedby="food-name" placeholder="Enter full name">
          </div>

          <div class="form-group">
            <label for="food-dish">Dish</label>
            <textarea class="form-control" id="food-dish" aria-describedby="food-dish"  placeholder="Enter dish name"></textarea>
          </div>

          <div class="form-group">
            <label for="food-ingredients">Ingredients</label>
            <textarea class="form-control" id="food-ingredients" aria-describedby="food-ingredients"  placeholder="Enter ingredients"></textarea>
          </div>

          <div class="form-group">
            <label for="food-instruction">Instruction</label>
            <textarea class="form-control" id="food-instruction" aria-describedby="food-instruction" placeholder="Enter instruction on how to cook"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
          
        </form>

        <h3>Food Recipes By:</h3>
        <ul id="food-list" class="list-group">
          {{#each foods}}
          <li  data-id="{{this.id}}" class="list-group-item">
            <a href="/{{this.id}}">{{this.name}}</a>
            <button class="btn btn-danger float-right delete">X</button>
          </li>
          {{/each}}
        </ul>

      </div>
    </div>
  </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>